In [2]:
nome = 'Andrea'
print(type(nome), nome) 
print(id(nome))
# mostrami il tipo di stringa, il nome della stringa
## mostra l'id della stringa

<class 'str'> Andrea
1571231918040

In [3]:
nome = nome + ' Elena'
print(type(nome), nome) 
print(id(nome))
# mostrami il tipo di stringa, il nome della stringa
## mostra l'id della stringa

<class 'str'> Andrea Elena
1571231887024

In [4]:
year = 2017
print(type(year), year) 
print(id(year))

<class 'int'> 2017
1571231513328

In [5]:
year = 2017 + 1
print(type(year), year) 
print(id(year))

<class 'int'> 2018
1571231513584

In [8]:
punteggio = [4,2,3,5,4,2,2]
print(type(punteggio), punteggio) 
print(id(punteggio))
# mostrami il tipo di stringa, il nome della stringa
## mostra l'id della stringa

<class 'list'> [4, 2, 3, 5, 4, 2, 2]
1571232026696

In [9]:
punteggio.append(5) 
print(type(punteggio), punteggio) 
print(id(punteggio))
# append vuol dire aggiungi alla mia lista il 5

<class 'list'> [4, 2, 3, 5, 4, 2, 2, 5]
1571232026696

In [10]:
# creaiamo una tupla con le parentesi tonde
linguaggi = ('Pyhton', 'Rust', 'C', 'JavaScript') 
print(linguaggi)
print(type(linguaggi))

('Pyhton', 'Rust', 'C', 'JavaScript')
<class 'tuple'>

In [15]:
# possiamo creare una lista 'splittando' una stringa
## la lista è sempre identificata dalle parentesi quadre
linguaggi = 'Pyhton, Rust, C, JavaScript'.split(',') 
print(linguaggi)
print(type(linguaggi))

['Pyhton', ' Rust', ' C', ' JavaScript']
<class 'list'>

In [14]:
# la differenza sostanziale tra creare una tupla e una lista di lasse è:
## tupla ---- mettere ognuna delle variabili tra apici e poi tutte all'interno di una stessa parentesi tonda vendi in[10]
### classe lista --- mettere le variabili tra apici splittate dalla ,  vedi in[13]

In [26]:
semi = 'cuori, quadri, fiori'.split(',') # possiamo creare una lista 'splittando' una stringa, 
print(semi) # la lista è sempre identificata dalle parentesi quadre
print(type(semi))

['cuori', ' quadri', ' fiori']
<class 'list'>

In [27]:
semi.append('picche')
semi

['cuori', ' quadri', ' fiori', 'picche']

In [28]:
semi.pop()
semi
# il comando pop rimuove e restituisce l'ultimo oggetto dell'elenco

['cuori', ' quadri', ' fiori']

In [30]:
range(9)
# mi mostra il range tra 0 e 9

range(0, 9)

In [31]:
list(range(5,51,5))
# voglio creare una lista che vada da 5 a 50 a passi di 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [32]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
digits = list(range(10)) # list converte un range in lista
digits

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
digits.sort(reverse=True) # ordinamento dal più grande al più piccolo
digits

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [35]:
# Inizializzo una lista vuota
fisici=[]
fisici

[]

In [36]:
fisici.append('Feynman')
fisici

['Feynman']

In [37]:
# Posso avere una lista dentro una lista e diversi formati
fisici.append([3.14, 2.72])
fisici

['Feynman', [3.14, 2.72]]

In [42]:
a = [1,2,3,4,5,6]
seta = set(a) 

b = [4,5,6,7,8,9,100]
setb = set(b)
#genero due set a partire da una lista

In [40]:
seta-setb, type(seta-setb)
# tolgo l'intersezione nel primo set tra i due set ovvero 4,5,6

({1, 2, 3}, set)

In [41]:
setb-seta, type(seta-setb)

({7, 8, 9, 100}, set)

In [44]:
seta | setb
# unisco i due set dove ovviamente comparirà una volta sola l'intersezione tra i due 4,5,6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [45]:
seta & setb
# trova l'intersezione tra i due set

{4, 5, 6}

In [47]:
seta ^ setb
# mi mostra i due set senza l'intersezione

{1, 2, 3, 7, 8, 9, 100}