In [1]:
'carlo'.capitalize()
# mi restituisce la stringa con la prima lettera in maisuscolo

'Carlo'

In [2]:
'giOIA'.capitalize()

'Gioia'

In [3]:
'Buona giornata!'.upper()
# mi restituisce una stringa tutta in maiuscolo

'BUONA GIORNATA!'

In [4]:
'ANCHE A TE'.lower()
# ti restituisce una stringa scritta in maiuscolo in minuscolo

'anche a te'

In [5]:
emanuela = '''la donna di enrico'''
emanuela.count('la')
# Conta le occorrenze. di 'la' ne abbiamo una sola nella stringa di cui sopra

1

In [7]:
roma = '''la squadra più forte in assoluto per me più grande di tutti di tutto il mondo''' 
roma.count('di')

2

In [8]:
roma.find('più')
# Trovo il primo indice della prima occorrenza

11

In [9]:
'Cuori, quadri, fiori, picche'.split(',')
# Divido una stringa in funzione di un saparatore

['Cuori', ' quadri', ' fiori', ' picche']

In [10]:
'Come quanto fuori piove'.split()

['Come', 'quanto', 'fuori', 'piove']

In [11]:
roma

'la squadra più forte in assoluto per me più grande di tutti di tutto il mondo'

In [13]:
anno = 2018
anno, type(anno)

(2018, int)

In [19]:
pi = 3.1415926536
pi, type(pi)

(3.1415926536, float)

In [20]:
round(pi)
# approssima il valore

3

In [22]:
round(pi,5)
# approssima il valore alla 5 cifra decimale

3.14159

In [23]:
pi.is_integer()

False

In [26]:
'Annabella'.count('a') == 2

True

In [27]:
'annabella'.count('a') == 2

False

In [33]:
'ROMA'.count('A') == 1

True

In [34]:
'Roma'.count('R') == 1

True

In [47]:
'Roma'.lower().count('r') == 1

True

In [51]:
'annabella' .lower().count('a') == 3
# conteggiami le a che possono essere trasformate in minuscole

True

In [52]:
'annabella' .lower().count('A') == 3
# conteggiami le a che possono essere trasformate in minuscole

False

In [53]:
'annabella' .upper().count('A') == 3
# conteggiami le a che possono essere trasformate in maiuscole

True

In [54]:
'annabella' .upper().count('a') == 3
# conteggiami le a che possono essere trasformate in maiuscole

False

In [56]:
'ANNABELLA' .upper().count('A') == 3
# conteggiami le a che possono essere trasformate in maiuscole

True

In [58]:
'ANNABELLA' .lower().count('a') == 3
# conteggiami le a che possono essere trasformate in maiuscole

True